{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit review{% endblock %}

{% block content %}
	<h3>Edit Review</h3>

    <div class="row mb-4">
        <div class="col-6">
            <form method="get" action="{% url 'books:edit-review' book.id review.id %}">
                {% csrf_token %}
                {{ review_form | crispy }}

                <button class="btn btn-success">Save review</button>

            </form>
        </div>
    </div>

{% endblock %}